<script setup lang="ts">
import ProfileCard from "@/components/ProfileCard.vue";
</script>

<template>
  <v-container>
    <v-row>
      <v-col> <ProfileCard /> </v-col>
    </v-row>
  </v-container>
</template>
