<script lang="ts" setup>
import {
  mdiHeartCircleOutline,
  mdiSchoolOutline,
  mdiChevronRight,
} from "@mdi/js";
import { ref } from "vue";

const showFav = ref(false);
const showSchool = ref(false);
function fav() {
  showSchool.value = false;
  if (showFav.value === true) {
    showFav.value = false;
  } else {
    showFav.value = true;
  }
}
function school() {
  showFav.value = false;
  if (showSchool.value === true) {
    showSchool.value = false;
  } else {
    showSchool.value = true;
  }
}
</script>

<template>
  <v-card class="mx-auto" max-width="344">
    <v-img src="patchara.jpg" height="200px"></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">Patchara Lamyahhwan</div>
        <div class="text-caption">Jane (21)</div>
      </div>
    </v-card-item>
    <v-card-actions class="justify-center">
      <v-btn @click="fav()"><v-icon :icon="mdiHeartCircleOutline" /></v-btn>
      <v-btn @click="school()"><v-icon :icon="mdiSchoolOutline" /></v-btn>
    </v-card-actions>
  </v-card>
  <br />
  <v-divider></v-divider>
  <br />
  <v-card class="mx-auto" max-width="500" v-if="showFav === true">
    <template v-slot:title> Interests or Likes </template>
    <div style="padding-left: 50px">
      <v-list>
        <v-list-item
          :append-icon="mdiChevronRight"
          href="https://th.wikipedia.org/wiki/%E0%B9%80%E0%B8%8B%E0%B8%B5%E0%B8%A2%E0%B8%A7_%E0%B8%88%E0%B9%89%E0%B8%B2%E0%B8%99"
          prepend-avatar="https://i.pinimg.com/564x/2c/36/40/2c3640b4290415a791edbbb557e35639.jpg"
          title="Xiao Zhan"
          subtitle="Actor/Singer"
        ></v-list-item>
        <v-list-item
          :append-icon="mdiChevronRight"
          href="https://th.wikipedia.org/wiki/%E0%B8%AB%E0%B8%A7%E0%B8%B1%E0%B8%87_%E0%B8%AD%E0%B8%B5%E0%B8%9B%E0%B8%B1%E0%B9%8B%E0%B8%A7"
          prepend-avatar="https://i.pinimg.com/564x/f8/fa/b2/f8fab272aebab04a62aa8b93448dd72d.jpg"
          title="Wang Yibo"
          subtitle="Actor/Singer"
        ></v-list-item>
        <v-list-item
          :append-icon="mdiChevronRight"
          href="https://th.wikipedia.org/wiki/%E0%B8%9A%E0%B8%B5%E0%B8%97%E0%B8%B5%E0%B9%80%E0%B8%AD%E0%B8%AA_(%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B8%99%E0%B8%B1%E0%B8%81%E0%B8%A3%E0%B9%89%E0%B8%AD%E0%B8%87)"
          prepend-avatar="https://i.pinimg.com/564x/54/91/f7/5491f74dbec32fea3ebe6e554492f800.jpg"
          title="BTS"
          subtitle="Boy band"
        ></v-list-item>
      </v-list>
    </div>
  </v-card>
  <v-row justify="center" v-else-if="showSchool === true">
    <v-col cols="6">
      <v-table>
        <thead>
          <tr>
            <th>Graduation Year</th>
            <th>School</th>
            <th>GPA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2556</td>
            <td>Sawangboriboon Wittaya School</td>
            <td>-</td>
          </tr>
          <tr>
            <td>2559</td>
            <td>Aksorn Pattaya School</td>
            <td>-</td>
          </tr>
          <tr>
            <td>2562</td>
            <td>Sattahipwittayakom School</td>
            <td>3.11</td>
          </tr>
        </tbody>
      </v-table>
    </v-col>
  </v-row>
</template>
